@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Kyiv';
    src: url('/fonts/KyivTypeSans-VarGX.ttf') format('woff2'),
         url('/fonts/your-font-file.woff') format('woff'),
         url('/fonts/your-font-file.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
  }
  
